      <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" type="text/css">
      <link rel="stylesheet" href="/sweetalert2/sweetalert2.min.css" type="text/css">
      <link rel="stylesheet" href="/css/nav.min.css" type="text/css">
      
      <link rel="stylesheet" href="/css/welcome.min.css" type="text/css">

   </head>

   <body>
      {{> loader}}
      {{> navbar}}
      
      <div class="showcase-area">
         <div class="containerLan">
            <div class="left">
               <div class="big-title">
                  Bienvenido
               </div>
               <p class="text">
                  Una sonrisa sigue siendo el regalo menos costoso que puedo darle a cualquier persona, sin embargo sus poderes pueden derrocar reinos.
               </p>
               <p class="equotes">
                  -Og Mandino
               </p>
            </div>
      
            <div class="right">
               <img src="/img/dental.png" alt="Person Image" class="person" />
            </div>
         </div>
      </div>

      <script src="/JQuery/jquery.min.js"></script>
      <script src="/js/popper.min.js"></script>
      <script src="/bootstrap/js/bootstrap.min.js"></script>
      <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="/fontawesome/all.min.js"></script>
      <script src="/sweetalert2/sweetalert2.min.js"></script>
      <script src="/imaskJS/imask.min.js"></script>

      <script src="/js/nav.min.js"></script>