<header>
   <div class="containerNav">
      <a href="/w" class="logo">
         <span>Moreno</span> Dental
      </a>

      <nav class="site-nav">
         <ul>
            <li>
               <a href="/pacients">
                  <i class="fa-solid fa-id-badge site-nav--icon"></i>
                  Pacientes
               </a>
            </li>

            <li>
               <a href="/citas">
                  <i class="fa-solid fa-tooth site-nav--icon"></i>
                  Citas
               </a>
            </li>

            <li>
               <a href="/profile">
                  <i class="fa-regular fa-user site-nav--icon"></i>
                  Datos Perfil
               </a>
            </li>

            <li>
               <a href="/exit">
                  <i class="fa-solid fa-arrow-right-from-bracket site-nav--icon"></i>
                  Cerrar Sesión
               </a>
            </li>
         </ul>
      </nav>

      <div class="menu-toggle">
         <div class="hamburger"></div>
      </div>
   </div>
</header>