{{!-- Modal Read Ficha --}}
<div class="modal fade" id="modalFicha" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
   aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg">
      <div class="modal-content">
         <div class="modal-header header__modal">
            <div class="modal-title tittle__modal __tittleInitials">FICHA CLÍNICA</div>
         </div>

         <div class="modal-body body__modal">
            <div class="row">
               <div class="subTitle __tittleInitials">
                  # Datos Personales
               </div>
            </div>

            <div class="row mb-2 __bodyData"> </div>

            <div class="row">
               <div class="subTitle __tittleInitials">
                  # Condiciones Médicas
               </div>
            </div>

            <div class="row mb-2 __bodyConditions"> </div>

            <div class="row">
               <div class="subTitle __tittleInitials">
                  # Historial Clínico
               </div>
            </div>

            <div class="row">
               <div class="table-responsive">
                  <table class="table table-sm table-striped table-bordered">
                     <thead class="table-success">
                        <tr>
                           <th nowrap scope="col">#</th>
                           <th nowrap scope="col">Fecha</th>
                           <th nowrap scope="col">Estado</th>
                           <th nowrap scope="col">Tratamiento</th>
                           <th nowrap scope="col">Monto</th>
                           <th scope="col">Observaciones</th>
                        </tr>
                     </thead>

                     <tbody class="table-group-divider table-group-divider __itemsHistorial"> </tbody>
                  </table>
               </div>

            </div>
         </div>

         <div class="modal-footer footer__modal footerReadFicha">

         </div>
      </div>
   </div>
</div>

{{!-- Modal Add Cita --}}
<div class="modal fade" id="modalCita" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header header__modal">
            <div class="modal-title tittle__modal">SEPARAR CITA</div>
         </div>

         <div class="modal-body body__modal">
            <div class="row">
               <div class="subTitle">
                  # Datos de la Cita
               </div>
            </div>

            <div class="row mb-2">
               <div class="col-md-6 mb-2">
                  <label for="" class="form-label lblLogin">Fecha</label>
                  <input type="date" class="form-control iptLogin" id="fecha" />
               </div>

               <div class="col-md-6 mb-2">
                  <label for="" class="form-label lblLogin">Precio</label>
                  <input type="text" class="form-control iptLogin" id="precio" placeholder="Ingrese el monto" />
               </div>

               <div class="col-md-12 mb-2">
                  <label for="" class="form-label lblLogin">Tratamiento</label>
                  <textarea class="form-control textarea" id="tratamiento" rows="2" placeholder="Escribir el tratamiento a realizar..." ></textarea>
               </div>

               <div class="col-md-12 mmb-2">
                  <label for="" class="form-label lblLogin">Observaciones</label>
                  <textarea class="form-control textarea" id="observaciones" rows="5" placeholder="Escribir el tratamiento a realizar..." ></textarea>
               </div>
            </div>
         </div>

         <div class="modal-footer footer__modal footerCita">

         </div>
      </div>
   </div>
</div>

<script>
   const readFicha = (id, name) => {
      id = $.trim(id);
      name = $.trim(name);

      if(
         id === '' ||
         name === ''
      ) {
         Swal.fire({
            position: 'top-end',
            imageUrl: '/img/dental.png',
            imageWidth: 230,
            imageHeight: 150,
            imageAlt: 'Dental System',
            title: 'CAMPOS VACÍOS',
            html: `<p style="font-size: 1rem;">Los campos no pueden ir vacíos o con espacios.</p>`,
            showConfirmButton: false,
            timer: 1500
         })
      } else {
         Swal.fire({
            title: 'Revisar ficha clínica!',
            html: `Deseas revisar la ficha clínica de <b>${name}</b>.`,
            imageUrl: '/img/dental.png',
            imageWidth: 230,
            imageHeight: 150,
            imageAlt: 'Dental System',
            showCancelButton: true,
            confirmButtonColor: '#049947',
            cancelButtonColor: '#f34943',
            confirmButtonText: 'Sí, revisar!',
            cancelButtonText: 'No, cancelar!',
            reverseButtons: true,
            allowOutsideClick: false
         }).then((result) => {
            if (result.value == true) {
               bloqueointerface();

               $.ajax({
                  url: "/readFicha",
                  type: "GET",
                  datatype: "json",
                  data: {
                     id: id
                  }
               })
               .done(function(res) {
                  if (res.res == 'data') {
                     let allAnt = '', ante = res.data.ficha.patologico;
                     if(ante.length > 0) {
                        ante.map((ant, idx) => {
                           if (idx > 0) allAnt += ' - ';
                           allAnt += ant.tipo;
                        });
                     } else {
                        allAnt = 'Sin datos'
                     }

                     document.querySelector('.__bodyData').innerHTML = `
                           <div class="col-md-6 mb-2 __textContainer">
                              <div class="__textBold">Cédula</div>
                              <div class="__textNormal">${res.data.ficha.datosPersonal.cedula}</div>
                           </div>
                           <div class="col-md-6 mb-2 __textContainer">
                              <div class="__textBold">Nombres Completos</div>
                              <div class="__textNormal">
                                 ${res.data.ficha.datosPersonal.nombres}
                                 ${res.data.ficha.datosPersonal.apellidos}
                              </div>
                           </div>
                           <div class="col-md-6 mb-2 __textContainer">
                              <div class="__textBold">Fecha de Nacimiento</div>
                              <div class="__textNormal">${res.data.ficha.datosPersonal.fechaNacimiento}</div>
                           </div>
                           <div class="col-md-6 mb-2 __textContainer">
                              <div class="__textBold">Género</div>
                              <div class="__textNormal">${res.data.ficha.datosPersonal.genero}</div>
                           </div>
                           <div class="col-md-6 mb-2 __textContainer">
                              <div class="__textBold">Dirección</div>
                              <div class="__textNormal">${res.data.ficha.datosPersonal.direccion}</div>
                           </div>
                           <div class="col-md-6 mb-2 __textContainer">
                              <div class="__textBold">Teléfono</div>
                              <div class="__textNormal">${res.data.ficha.datosPersonal.telefono}</div>
                           </div>
                           <div class="col-md-6 mb-2 __textContainer">
                              <div class="__textBold">Email</div>
                              <div class="__textNormal">${res.data.ficha.datosPersonal.email}</div>
                           </div>
                        `;

                     document.querySelector('.__bodyConditions').innerHTML = `
                           <div class="col-md-6 mb-2 __textContainer">
                              <div class="__textBold">ANTECEDENTES PATOLÓGICOS PERSONALES: </div>
                              <div class="__textNormal">
                                 ${allAnt}
                              </div>
                           </div>
                           <div class="col-md-6 mb-2 __textContainer">
                              <div class="__textBold">ALERGIA A ALGÚN MEDICAMENTO:</div>
                              <div class="__textNormal">
                                 ${res.data.ficha.alergia.estado} -
                                 ${res.data.ficha.alergia.cuales}
                              </div>
                           </div>
                           <div class="col-md-6 mb-2 __textContainer">
                              <div class="__textBold">¿PROBLEMAS DE HEMORRAGIA?</div>
                              <div class="__textNormal">
                                 ${res.data.ficha.hemorragia.estado} -
                                 ${res.data.ficha.hemorragia.cuando}
                              </div>
                           </div>
                           <div class="col-md-6 mb-2 __textContainer">
                              <div class="__textBold">¿HOSPITALIZADO(A) DURANTE EL AÑO EN CURSO?</div>
                              <div class="__textNormal">
                                 ${res.data.ficha.hospitalizado.estado} -
                                 ${res.data.ficha.hospitalizado.motivo}
                              </div>
                           </div>
                           <div class="col-md-6 mb-2 __textContainer">
                              <div class="__textBold">¿ESTÁ EMBARAZADA? (SOLO MUJERES)</div>
                              <div class="__textNormal">
                                 ${res.data.ficha.embarazo.estado} -
                                 ${res.data.ficha.embarazo.mes}
                              </div>
                           </div>
                        `;

                     document.querySelector('.__itemsHistorial').innerHTML = ``;

                     if(res.data.historial.length > 0) {
                        let array = res.data.historial, num = 0;

                        array.forEach(data => {
                           document.querySelector('.__itemsHistorial').innerHTML += `
                                 <tr>
                                    <th nowrap class="center bold">${++num}</th>
                                    <th nowrap class="right normal">${data.fecha}</th>
                                    <th nowrap class="center" >
                                       ${data.estado === 'Pendiente'
                                          ? '<span class="mode badge text-bg-danger">Pendiente</span>'
                                          : '<span class="mode badge text-bg-success">Culminado</span>'
                                       }
                                    </th>
                                    <th nowrap class="right normal">${data.tratamiento}</th>
                                    <th nowrap class="right normal">${parseFloat(data.monto).toFixed(2)}</th>
                                    <th class="left normal">${data.observaciones}</th>
                                 </tr>
                              `;
                        });
                     } else {
                        document.querySelector('.__itemsHistorial').innerHTML = `
                           <tr>
                              <th colspan="6" class="center bold">
                                 No existe historial clínico
                              </th>
                           </tr>
                        `;
                     }

                     document.querySelector('.footerReadFicha').innerHTML = `
                           <button type="button" class="btn btn-outline-secondary btn-sm btnGeneral" data-bs-dismiss="modal">
                              Close
                           </button>

                           <button type="button" class="btn btn-outline-primary btn-sm btnGeneral" onclick="generateFichaPDF('${res.data.ficha._id}');">
                              Generar Ficha
                           </button>`;

                     $('#modalFicha').modal('show')
                  }

                  if (res.res == 'false') {
                     Swal.fire({
                        title: res.tittle,
                        html: '<p style="font-size: 1rem;">'+res.description+'</p>',
                        icon: res.icon,
                        allowOutsideClick: false
                     })
                  }

                  if (res.res == 'error') {
                     Swal.fire({
                        title: res.tittle,
                        html: '<p style="font-size: 1rem;">'+res.description+'</p>',
                        icon: res.icon,
                        allowOutsideClick: false
                     })
                  }

                  desbloqueointerface();
               })
               .fail(function() {
                  console.error("Error inesperado");

                  desbloqueointerface();
               });
            }
         })
      }
   }

   const modalAddCita = (id, name) => {
      $('#fecha').val('')
      $('#precio').val('')
      $('#tratamiento').val('')
      $('#observaciones').val('')

      document.querySelector('.footerCita').innerHTML = `
            <button type="button" class="btn btn-outline-secondary btn-sm btnGeneral" data-bs-dismiss="modal">
               Close
            </button>

            <button type="button" class="btn btn-outline-success btn-sm btnGeneral" onclick="separateCita('${id}', '${name}');">
               Agendar
            </button>`;

      $('#modalCita').modal('show')
   }

   const separateCita = (id, name) => {
      id = $.trim(id);
      name = $.trim(name);
      fecha = $.trim($('#fecha').val());
      precio = $.trim($('#precio').val());
      tratamiento = $.trim($('#tratamiento').val());
      observaciones = $.trim($('#observaciones').val());

      if (
         id == '' ||
         name == '' ||
         fecha == '' ||
         precio == '' ||
         tratamiento == ''
      ) {
         Swal.fire({
            position: 'top-end',
            imageUrl: '/img/dental.png',
            imageWidth: 230,
            imageHeight: 150,
            imageAlt: 'Dental System',
            title: 'CAMPOS VACÍOS',
            html: `<p style="font-size: 1rem;">Los campos no pueden ir vacíos o con espacios.</p>`,
            showConfirmButton: false,
            timer: 1500
         })
      } else {
         Swal.fire({
            title: 'Agendar cita!',
            html: `Deseas agendar una nueva cita para <b>${name}</b> el <b>${moment(fecha).format('ll')}</b>.`,
            imageUrl: '/img/dental.png',
            imageWidth: 230,
            imageHeight: 150,
            imageAlt: 'Dental System',
            showCancelButton: true,
            confirmButtonColor: '#049947',
            cancelButtonColor: '#f34943',
            confirmButtonText: 'Sí, agendar!',
            cancelButtonText: 'No, cancelar!',
            reverseButtons: true,
            allowOutsideClick: false
         }).then((result) => {
            if (result.value == true) {
               bloqueointerface();

               $.ajax({
                  url: "/agendarCita",
                  type: "POST",
                  datatype: "json",
                  data: {
                     id: id ?? '',
                     fecha: fecha ?? '',
                     precio: precio ?? '',
                     tratamiento: tratamiento ?? '',
                     observaciones: observaciones ?? ''
                  }
               })
               .done(function(res) {
                  if (res.res == 'true') {
                     Swal.fire({
                        title: res.tittle,
                        html: '<p style="font-size: 1rem;">'+res.description+'</p>',
                        imageUrl: '/img/dental.png',
                        imageWidth: 230,
                        imageHeight: 150,
                        imageAlt: 'Dental System',
                        allowOutsideClick: false
                     }).then((result) => {
                        if (result.value == true) {
                           $('#modalCita').modal('hide')
                        }
                     })
                  }

                  if (res.res == 'false') {
                     Swal.fire({
                        title: res.tittle,
                        html: '<p style="font-size: 1rem;">'+res.description+'</p>',
                        icon: res.icon,
                        allowOutsideClick: false
                     })
                  }

                  if (res.res == 'error') {
                     Swal.fire({
                        title: res.tittle,
                        html: '<p style="font-size: 1rem;">'+res.description+'</p>',
                        icon: res.icon,
                        allowOutsideClick: false
                     })
                  }

                  desbloqueointerface();
               })
               .fail(function() {
                  console.error("Error inesperado");

                  desbloqueointerface();
               });
            }
         })
      }
   }

   const generateFichaPDF = (idP) => {
      idP = $.trim(idP);

      if (
         idP == ''
      ) {
         Swal.fire({
            position: 'top-end',
            imageUrl: '/img/dental.png',
            imageWidth: 230,
            imageHeight: 150,
            imageAlt: 'Dental System',
            title: 'CAMPOS VACÍOS',
            html: `<p style="font-size: 1rem;">Los campos no pueden ir vacíos o con espacios.</p>`,
            showConfirmButton: false,
            timer: 1500
         })
      } else {
         Swal.fire({
            title: 'Generar ficha clínica!',
            html: `Deseas generar la ficha clínica.`,
            imageUrl: '/img/dental.png',
            imageWidth: 230,
            imageHeight: 150,
            imageAlt: 'Dental System',
            showCancelButton: true,
            confirmButtonColor: '#049947',
            cancelButtonColor: '#f34943',
            confirmButtonText: 'Sí, generar!',
            cancelButtonText: 'No, cancelar!',
            reverseButtons: true,
            allowOutsideClick: false
         }).then((result) => {
            if (result.value == true) {
               bloqueointerface();

               $.ajax({
                  url: "/generateFichaPDF",
                  type: "GET",
                  datatype: "json",
                  data: {
                     idP: idP ?? ''
                  }
               })
               .done(function(res) {
                  if (res.res == 'true') {
                     Swal.fire({
                        title: res.tittle,
                        html: '<p style="font-size: 1rem;">'+res.description+'</p>',
                        imageUrl: '/img/dental.png',
                        imageWidth: 230,
                        imageHeight: 150,
                        imageAlt: 'Dental System',
                        allowOutsideClick: false
                     }).then((result) => {
                        if (result.value == true) {
                           window.open(`/pdf/${res.filename}`,"ventana1","height=750,width=1250,location=no,toolbar=no,menubar=no,scrollbars=no");
                        }
                     })
                  }

                  if (res.res == 'false') {
                     Swal.fire({
                        title: res.tittle,
                        html: '<p style="font-size: 1rem;">'+res.description+'</p>',
                        icon: res.icon,
                        allowOutsideClick: false
                     })
                  }

                  if (res.res == 'error') {
                     Swal.fire({
                        title: res.tittle,
                        html: '<p style="font-size: 1rem;">'+res.description+'</p>',
                        icon: res.icon,
                        allowOutsideClick: false
                     })
                  }

                  desbloqueointerface();
               })
               .fail(function() {
                  console.error("Error inesperado");

                  desbloqueointerface();
               });
            }
         })
      }
   }

</script>